body {
    font-family: 'Lato', sans-serif;
    line-height: 30px;
}

h4, h5, p {
	font-family: 'Open Sans', sans-serif;
}

a:focus { 
	outline: none; 
}

img {
	max-width: 100%;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn {
	-webkit-transition:background-color .2s ease-in-out; 
	-moz-transition:background-color .2s ease-in-out; 
	-o-transition:background-color  .2s ease-in-out; 
	transition:background-color  .2s ease-in-out;
}

.navbar {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: none;

    background-color: rgba(255,255,255,.96);
   	-webkit-backface-visibility: hidden;
}

.navbar-modal-showing {
	-webkit-backface-visibility: visible;
}

.nav li a {
	text-transform: uppercase;
	font-weight: 500;
}

@media (min-width:768px) {
	.nav li {
	    border-color: #f8f8f8;
	}

	.nav li.active a {
		border-color: #a2becc;
		background-color: transparent !important;
		color: #333 !important;
	}

	.nav li a {
		-webkit-transition: all .2s ease-in-out; 
		-moz-transition: all .2s ease-in-out; 
		-o-transition: all .2s ease-in-out; 
		transition: all .2s ease-in-out;
	    padding-bottom: 11px;
	    /*border-top: 4px solid white;*/
	    border-bottom: 4px solid #f8f8f8;
	}

	.nav li a:hover {
		border-color: #a2becc;
		border-bottom-radius: 20px;
	}

	.navbar-nav li a {
		line-height: 40px;
	}
}

.navbar-brand {
	padding: 0;
	height: 70px;
}

.navbar-toggle {
	padding: 2px 5px;
}

@media (max-width: 767px) {
	.nav li a {
		padding: 20px;
		text-align: center;
	}
	.nav li.active a {
		border: 0;
	}

	.nav li a:hover {
		border:0;
	}

	.navbar-nav a:focus {
		background-color: #e7e7e7;
	}

	.navbar-nav {
		margin: 0px -15px;
	}

	.navbar-collapse {
		max-height: none;
	}
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		right: auto;
		padding: 0px 0px;
	}

	.dropdown-menu li a {
		border-bottom: none;
		padding: 10px 20px;
		line-height: 20px;
		-webkit-transition: all .05s ease-in-out; 
		-moz-transition: all .05s ease-in-out; 
		-o-transition: all .05s ease-in-out; 
		transition: all .05s ease-in-out;
	}

	.dropdown-menu li a:hover {
		background-color: #a2becc;
	}

	.navbar-default .navbar-collapse {
		padding-right: 40px;
	}
}

/* About CSS */
.welcome-div {
	height: 100vh;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: black;
  	background-attachment: fixed;
  	transition: opacity 0.5s;

  	text-shadow: 0 1px 0 black;
}

.textbox-inner {
	color: white;
	position: relative;
	text-align: center;
}

.textbox-inner a {
	background-color: transparent;
}
@media (max-width: 768px) {
	.textbox-inner {
		top: 15%;
	}

	.textbox-inner h1 {
		font-size: 48px;
	}

	.textbox-inner p {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.textbox-inner {
		top: 30%;
	}

	.textbox-inner h1 {
		font-size: 48px;
		margin-bottom: 20px;
	}

	.textbox-inner p {
		font-size: 18px;
	}
}

.textbox-inner h1 {
	text-shadow: 0 2px 1px #666;
}

.textbox-inner p {
	margin-top: 30px;
}

.textbox-inner a {
	margin-top: 30px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.logo {
	height: 100%;
	display: inline-block !important;
}

.logo-text {
	font-size: 14px;
	margin-top: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	display: inline-block;
}

/*
//
// Professionals CSS 
//
*/

.professional-section {
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: -2;
}

.staff-section {
	padding-bottom: 50px;
	background-color: #262626;

}

.staff-section .container {
}

.section-header {
	text-align: center;
	border-bottom: 1px solid #42484d;
}

.section-header-staff {
	text-align: center;
	float: center;
	border-bottom: 1px solid #42484d;
	border-top: 1px solid #42484d;
}

.section-header-staff h1 {
	padding: 10px 0;
	margin: 0;
}

.grid-item {
	text-align: center;
}

.prof-photo {
	width: 100%;
	height: 100%;
	position: absolute;
	display:block;
	-webkit-filter: sepia(0%);

	-webkit-transition: -webkit-filter 300ms linear;
	filter: filter 300ms linear;
}

.prof {
	padding-top: 70px;
}

.prof h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 550;
}

.prof h4 {
	color: #636363;
}

.prof h5 {
	color: #535353;
}

.prof-description {
	padding-top:10px;
}

.prof-language {
	padding-top: 10px;
}

.photo-frame-wrapper {
	margin: auto;
}

.prof-photoframe {
	position: relative;
	padding-bottom: 72%;
	height: 0;
	margin: 0 auto;
	margin-bottom: 24px;
	width: 72%;

}

.prof-contact {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding:10px;
	z-index: 30;

	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);

	-webkit-transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,-webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
	-moz-transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,-moz-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
	transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
}

.prof-contact-item {
	display: inline-block;
	width: 45px;
	height: 45px;
	color: transparent;
	text-align: left;

	overflow: hidden;
	border-radius: 25px;
}

@media (max-width: 992px) {
	.prof-contact-item {
		margin:0 15px;
	}
}

@media (min-width: 992px) {
	.prof-contact-item {
		margin:0 10px;
	}
}

@media (min-width: 1200px) {
	.prof-contact-item {
		margin:0 15px;
	}
}

.prof-contact_item--email {
	background: rgba(255, 255, 255, 0.5) url(img/icons/mail_icon.png) no-repeat center center;
	background-size: contain;
}

.prof-contact_item--info {
	background: rgba(255, 255, 255, 0.5) url(img/icons/info_icon.png) no-repeat center center;
	background-size: contain;
}

.prof-contact_item--email:focus {
	outline: 0;
} 

.prof-contact_item--info:focus {
	outline: 0;
}

.prof-contact_item--email:hover {
	background-color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	color: transparent;
	cursor: pointer;
} 

.prof-contact_item--info:hover {
	background-color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	color: transparent;
} 

.prof:hover .prof-contact {
	opacity: 1;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

@media (max-width: 768px) {
	.prof-contact {
		opacity: 1;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@media (min-width:768px) {
	.prof:hover .prof-photo {
		-webkit-filter: sepia(100%);
		filter: sepia(100%);
	}
}

/* 
// 
// Staff-Specific CSS
//
*/
.staff {
	padding-top: 70px;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.staff-section h1{
	color: #d8d8d8;
}
.staff h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 550;
	color: #d8d8d8;

	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.staff h4 {
	color: #636363;
}

.staff-contact {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	opacity: 0;
	padding:10px;
	z-index: 30;

	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);

	-webkit-transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,-webkit-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
	-moz-transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,-moz-transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
	transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms,transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
}

.staff-contact-item {
	display: inline-block;
	width: 45px;
	height: 45px;
	color: transparent;
	text-align: left;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 25px;
}

.staff-contact_item--email {
	background: rgba(255, 255, 255, 0.5) url(img/icons/mail_icon.png) no-repeat center center;
	background-size: contain;
}

.staff-contact_item--phone {
	background: rgba(255, 255, 255, 0.5) url(img/icons/phone_icon.png) no-repeat center center;
	background-size: contain;
}

.staff-contact_item--email:focus {
	outline: 0;
} 

.staff-contact_item--phone:focus {
	outline: 0;
}

.staff-contact_item--email:hover {
	background-color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	color: transparent;
	cursor: pointer;
} 

.staff-contact_item--phone:hover {
	background-color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	color: transparent;
} 

.staff:hover h3{
	color: red;
}

.staff:hover .staff-contact {
	opacity: 1;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px);
}

@media (max-width: 768px) {
	.staff-contact {
		opacity: 1;
		-webkit-transform: translateY(-40px);
		-moz-transform: translateY(-40px);
		-ms-transform: translateY(-40px);
		-o-transform: translateY(-40px);
		transform: translateY(-40px);
	}
}
/*
//
// Footer CSS 
//
*/
footer {
	background-color: #333;
	color: white;
	padding: 40px 0 0;
	text-align: left;
}

footer h4 {
	
	font-weight: bold;
}

#footer-mid p{
	margin: 0;
}

#footer-row {
	height: auto;
}

#copyright {
	border-top: 1px solid #42484d;
	text-align: center;
}

#footer-logo {
	width: 20%;
	padding: 10px;
}

/*
// 
// Modal CSS
//
*/
/* Override default modal animations */
.modal.fade .modal-dialog {
    opacity: 0;

    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2 linear;
    transition: opacity .2s linear;

    -webkit-transform: translate(0, 0);
    	-ms-transform: translate(0, 0); // IE9 only
   		transform: (0, 0);

}

.modal.in .modal-dialog {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    	-ms-transform: translate(0, 0); // IE9 only
   		transform: (0, 0);
}

.modal-header {
	text-align: center;
	font-weight: bold;
}

.modal-header h3 {
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

.modal-header h4 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.modal-header h5 {
	margin-bottom: 0px;
}

.print {
	margin-top: -2px;
	background: 0;
	border: 0;
	padding: 0;
	float: left;
	opacity: .3;
	font-size: 18px;
}

.print:hover {
	opacity: .5;
	text-decoration: none;
	background: 0 0;
}

.vCard {
	margin-left: 15px;
	float: left;
	border: 0;
	padding: 0;
	opacity: .3;
	font-size: 18px;
	color: none;
	text-decoration: none;
}

.vCard a {
	color:inherit;
	text-decoration: none;
}

.vCard a:hover {
	color:inherit;
	text-decoration: none;
}

.vCard:hover {
	opacity: .5;
	text-decoration: none;
	background: 0 0;
	color: none;
	text-decoration: none;
}

.phone-icon {
	padding-right: 5px;
}

.phone-number {
	color:#478eff;
}

@media print {
	#professionalModal-content .print, .close, .vCard, a[href]:after, button {
		display: none !important;
	}
}

.modal-body h3{
	text-transform: uppercase;
}

/*
//
// Practice Area CSS
//
*/
.practice-intro {
	height: 100vh;
	background: url(img/sunset.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
  	position: relative;
}

.practice-intro .row {
	position: relative;
	top: 60%;
}

.practice-intro h1{
	font-size: 72px;
	position: relative;
	top:35%;
	color: white;
	text-shadow: 0 2px 1px #666;
	text-transform: uppercase;

}

.practice-intro--img {
	width: 50%;
	height: 50%;

	opacity: .6;
	-webkit-transition:	all .1s ease-in-out; 
	   -moz-transition:	all .1s ease-in-out; 
		 -o-transition:	all .1s ease-in-out; 
		    transition:	all .1s ease-in-out;
}

@media (max-width: 991px) {
	.practice-intro--img {
		display: none;
	}

	.practice-intro h1 {
		font-size: 36px;
		top: 20%;
	}

	.practice-intro .row {
		top: 25%;
	}
}
.practice-intro a:hover .practice-intro--img{
	opacity: 1;
}

.practice-intro a:hover .practice-link {
	opacity: 1;
}

.practice-intro a:hover {
	text-decoration: none;
	cursor: pointer;
}

.practice-link {
	color: white;
	opacity: .6;
	-webkit-transition:	all .1s ease-in-out; 
	   -moz-transition:	all .1s ease-in-out; 
		 -o-transition:	all .1s ease-in-out; 
		    transition:	all .1s ease-in-out;
}

.practice-link a {
	text-decoration: none;
	font-size: 24px;
	color:white;
	width: 100% / 5;
}

.practice-area {
	width: 100%;
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
}

.practice-row {
	padding-top: 50px;
	padding-bottom: 50px;
}
.practice-row h1 {
	text-transform: uppercase;
	font-size: 30px;
}

.practice-row p {
	font-size: 18px;
}

.practice-row img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.practice-area p {
	font-size: 18px;
}

.practice-area h1 {
	text-transform: uppercase;
	font-size: 30px;
}
.practice-area img {
	width: 18%;
	height: 100%;
	vertical-align: middle
	
}

@media (max-width: 991px) {
	.practice-row h1 {
		text-align: center;
	}

	.practice-row p {
		text-align: center;
	}
	.practice-row img {
		width: 200px;
		height: 200px;
	}
}

.left {
	float: left;
}
.right {
	float: right;
}

.practice-area .text-left {
	width: 80%;
	text-align: left;
	
}

.practice-area .text-right {
	
	text-align: left;
	
}

/*
//
// Blog CSS
//
*/
.blog-intro {
	height: 50vh;
	background: url(img/china-beach.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	text-align: center;
}

.blog-intro h1{
	font-size: 72px;
	position: relative;
	top:35%;
	color: white;
	text-shadow: 0 2px 1px #666;

}

.blog-body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.post {
	margin-bottom: 40px;

}

.post h2 {
	font-weight: 700;
}

.post a {
	color: #333;
}

.post a:hover {
	text-decoration: none;
	color: #9494FF;
}

.post h5 {
	font-style: italic;
}

/*
//
// Blog Post CSS
//
*/
.post-body {
	padding-top: 50px;
}